<h1 appHighlight (triggered)="logH1Tiggered()">Hello World</h1>
<h2>Directives Demo</h2>
<h3 appHighlight="pink">In this app we are going to:</h3>
<ul>
  <li>Demonstrate Element Directive</li>
  <li>Demo Binding</li>
  <li appHighlight>Demo events</li>
  <li>Talk about Renderer</li>
</ul>

<hr off>
  <app-bla></app-bla>
  <h4 app-bla></h4>
<hr>

<div>
  <label>First Name</label>
  <input type="text" off>
</div>
<div>
  <label>Last Name</label>
  <input type="text" disabled off>
</div>
<div>
  <label>Age</label>
  <input type="number">
</div>