ul {

}

li {
    list-style: none;
    margin: 4px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    transition: 0.7s;
}

li:hover {
    background: rgb(228, 228, 228);
}

li.nivchar {
    background: lightgreen;
}
