
<app-repeater [data]="['red', 'green', 'blue']">
    <ng-template let-tseva>
        <span [style.color]="tseva">Hello World</span>
    </ng-template>    
</app-repeater>

<hr>

<app-repeater [data]="['16px', '24px', '36px']">
    <ng-template let-godel>
        <span [style.font-size]="godel">Hello World</span>
    </ng-template>    
</app-repeater>


<div *ngIf="62 > 58">
    <span>62 is indeed more than 58</span>
</div>

<ng-template [ngIf]="62 > 58">
    <div>
        <span>62 is indeed more than 58</span>
    </div>    
</ng-template>

